-var align_center = ['d-flex', 'align-items-center', 'justify-content-center']
-var align_between = ['d-flex', 'align-items-center', 'justify-content-between']
-var align_around = ['d-flex', 'align-items-center', 'justify-content-around']